stages:
  - deploy

deploy:
  stage: deploy
  before_script:
    - 'eval $(ssh-agent -s)'
    - 'echo "$GITHUB_SSH_KEY" | ssh-add -'
    - 'mkdir -p ~/.ssh && echo "StrictHostKeyChecking no" >> ~/.ssh/config'
  script:
    - 'git fetch --all'
    - 'git checkout main'
    - 'git remote add github git@github.com:Huglol007/sae_s5.git || true'
    - 'git push --force github HEAD:main'
  rules:
    - if: '$CI_COMMIT_BRANCH'
