{% extends 'base.html.twig' %}

{% block title %}Ajouter Matiere{% endblock %}

{% block body %}
    <h1>Ajouter Matiere</h1>

    {{ include('matiere/_form.html.twig') }}

    <a href="{{ path('app_matiere_index') }}"   class="btn btn-secondary">back to list</a>
{% endblock %}
