{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Ajouter un utilisateur</h1>

    <div class="card p-4 shadow-sm">
        {{ include('user/_form.html.twig') }}
    </div>

    <a href="{{ path('app_user_index') }}" class="btn btn-secondary mt-3">Retour</a>
</div>
{% endblock %}
